main{border: 1px solid white;height: 500px; width: 1200px;margin: auto;}
#sdf{font-size: 35px;color: #0000FF;font-weight: bold; padding-top: 75px;padding-left: 75px;}
#hgf{padding-left: 875px;position: relative;top: -72px;}
#dfg{padding-left: 80px;}
#fhg{font-size: 30px; font-weight: bold;position: relative;top: -42px; padding-left: 150px;}
#sfg{padding-left: 420px; position: relative;top: -85px;}
#dsf{font-size: 30px;font-weight: bold;position: relative;top: -130px;padding-left: 498px;}
#fhb{padding-left: 85px;position: relative;top: -93px;}
#klj{font-size: 30px;font-weight: bold;padding-left: 160px;position: relative;top: -145px;}
#hkl{padding-left: 430px;position: relative;top: -180px;}
#ads{font-size: 30px;font-weight: bold;padding-left: 498px;position: relative;top: -220px;}
#hsd{padding-left: 90px;position: relative;top: -180px;}
#dsx{padding-left: 155px;font-weight: bold;font-size: 30px;position: relative;top: -220px;}
#ase{padding-left: 425px;position: relative;top: -260px;}
#qdf{padding-left: 500px;position: relative;top: -310px;font-size: 30px;font-weight: bold;}
.div{
   border-left: 2px solid blue;
   height: 300px;
   position: absolute;
   left: 65%;
   margin-left: -4px;
   top: 170px;
}
#qgh{font-size: 20px;color: darkblue;padding-left: 25px;font-weight: bold;}
#qft{font-size: 15px; padding-left: 25px; margin-top: -10px;}
#qfh{font-size: 20px;color: darkblue;padding-left: 25px;font-weight: bold; margin-top: -1px;padding-top: 30px;}
#qvj{font-size: 15px;padding-left: 25px; padding-top: 5px;}
#qwf{font-size: 20px;color: darkblue;padding-left: 25px;font-weight: bold; padding-top: 30px;}
#wgu{font-size: 15px;padding-left: 25px;padding-top: 5px;}